<% content_for :title, "User Account Required" %>

<section>
  <div class="medium-6 columns">
    <h2>Sign in</h2>
    no
  </div>
  <div class="medium-6 columns">
    <h2>Don't have an account?</h2>
    <p>
      To access certain features of wavetronix.com, you will need an account.
      If you do not have one, you can
      <%= link_to "create one here", nil %>. It is fast, simple,
      and free of charge.
    </p>
  </div>
</section>