	  <div class="columns">
	<%= link_to movie_path(movie) do %>
	  	<%= image_tag movie.movie_poster, alt: movie.movie_description, style: "max-height: 175px; width: auto;" %>
		  <h5><%= movie.movie_description %><br/>
		  <small><%= movie.release_date.try(:strftime, "%B %d") %></small>
	<% end %>
	  </div>