<%= link_to movie_path(movie) do %>
  <div class="medium-3 columns">
	  <% i = Imdb::Movie.new("#{movie.movie_name}") %>
  	<%= image_tag movie.movie_poster, alt: i.title, style: "max-height: 175px; width: auto;" %>
	  <h5><%= i.title %></h5>
	  <%= i.release_date %>
  </div>
<% end %>
