<% form_tag update_individual_movies_path, :method => :put do %>
  <% for movie in @movies %>
    <% fields_for "movies[]", movie do |f| %>
      <h2><%=h movie.movie_description %></h2>
      <%= render "fields", :f => f %>
    <% end %>
  <% end %>
  <p><%= submit_tag "Submit" %></p>
<% end %>