<% content_for :title, "Summer Movies" %>
<div class="row page-row">
	<div class="small-12 columns">
		<h1><%= Time.now.year %> Summer Movies</h1>

		  <p>
			  <%= link_to new_movie_path do %>
		      <span class="fa fa-plus-square-o"></span> Add a new movie
		    <% end %>
		  </p>

	</div>
</div>

<div class="row page-row">
  <%= render @movies %>
</div>