<% content_for :title, "Movies" %>
<div class="columns">
	<h1>Movies</h1>
	<% if current_user.has_role?(:admin) %>
	<p><%= link_to "Create a new movie", new_movie_path, class: "button radius" %></p>
	<% end %>

<div class="row medium-up-4">
	<%= render @movies %>
</div>
</div>
