<div class="row page-row">
	<div class="small-12 columns">
		<h1><%= Time.now.year %> Summer Movies</h1>
	</div>
	<div class="small-3 large-2 columns">
		image
	</div>
	<div class="small-9 large-10 columns">
		Title
	</div>
</div>
<hr/>
<script type="application/javascript" language="javascript" src="http://www.boxofficemojo.com/data/js/moviegross.php?id=starwars3.htm&shortgross=0"></script>
<hr/>
<script src="http://www.boxofficemojo.com/data/js/moviegross.php?id=starwars3.htm&shortgross=0"></script>