<% content_for :title, "Edit Family" %>

<div class="row">
  <div class="columns">
    <h1>Edit Family</h1>
    <p>Fill out this form with the information for the members of the family currently living in the same household. All information on this form should be relevant for August 2nd of this year.</p>
  </div>
  <%= render 'form' %>
</div>
