<% content_for :title, "New Family" %>

<div class="row">
  <div class="columns">
    <h1>Step Two</h1>
    <h2>Family Information</h2>
    <p>Fill out this form with the information for the members of the family currently living in the same household. All information on this form should be relevant for August 2nd of this year.</p>
  </div>
</div>
  <%= render 'form' %>
