<% content_for :title, "Edit #{@user.name}" %>

The time to edit lists has come to an end. Sorry!

<% if current_user.has_role?(:admin)
<div class="columns">
	<h1><%= "Edit #{@user.name}'s list" %></h1>
	<p>Either select the movie from the dropdown list, or click the box with your mouse and start typing the name of the movie you'd like to choose. Please note that "the" could affect where the movie is on the list (hint: THE begins with T)</p>

	<%= render "form" %>
</div>
<% end %>