<% content_for :title, "Homepage" %>
<div class="columns">
	<h2>Welcome people of earth, to the Summer Movie Game!</h2>
</div>
<div class="medium-8 columns">
	<p>In this game players attempt to guess the rank of the top ten films with the highest domestic gross of the summer. Scores are given for how close each guess is to where the movie actually ranks at the end of the summertime. If you win, you get mondo bragging rights and also dinner and a movie for two!</p>

	<p>The game Starts on May 1st and all movies that are released in theaters between that date and August 31st are eligible. Scoring, however will continue until the end of September (or until it is clear that all of the movies are done moving) giving movies released in August a better chance to compete with movies released in May. So, movies released on or before April 30th are not eligible even though they may still be in theaters during the game; and movies released on September 1st or later are not eligible even though scoring is still continuing during that time.</p>

	<h4><strong>The Deadline for all lists is May 1st. Fill out your list before then or else you're out of luck! </strong></h4>

	<p>If you are worried because you don’t know what movies are coming out, just go to the movies page or go to <%= link_to "https://summermoviegame.herokuapp.com/movies", movies_path %> and keep in mind that release dates may change unexpectedly leaving you with no points.</p>
</div>

<div class="medium-4 columns">
	<h4>Scoring:</h4>
	13 points if numbers 1 or 10 are correct<br/>
	10 points if numbers 2-9 are correct<br/>
	7 points if your pick was only one spot off<br/>
	5 points if it was 2 spots away<br/>
	3 points if your pick is in the Top 10<br/>
	1 point for each correct Dark Horse
</div>