@import "font-awesome-sprockets";
@import "font-awesome";
@import "foundation_and_overrides";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #989898 !important;
}

.main {
	//margin-bottom: 75px; /* Height of the footer element */
}

.main-container {
	background: white;
	min-height:100%;
	position: relative;
	padding-bottom: 75px;
}

// header /////////////////////////////////////////////////////////////////////

header {
	width: 100%;
	a {
		color: black;
	}
	ul {
		list-style-type: none; 
		text-align: center;
		li {
			display: inline-block !important;
			padding: 0px 0.9rem;
			text-transform: uppercase;
			font-size: 0.75rem;
		}
	}
}

.header-title {
	text-align: center;
	padding: 20px 0px 0px 0px;
	font-family: 'Cinzel', serif;
	font-size: 48px;
}

// movie ///////////////////////////////////////////////////////////////////

.wtx-movie-list {
	li {
		padding: 0 1rem 0 1rem;
		background: $white;
	}
	li:nth-child(odd) {
		background: $light-gray;
	}
}

.wtx-movie-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.place {
	width: 100px;
	display: inline-block;
	color: $dark-gray;
	// border: 1px solid red;
}

.points {
	display: inline-block;
	float: right;
}

// footer //////////////////////////////////////////////////////////////////

.site-footer {
  color: #888888;
  position: absolute;
  bottom: 0;
	margin-top: 75px; /* negative value of footer height */
	height: 75px;
  width: 100%;
  font-size: 0.75rem;
  left: 0px;
  //border: 1px solid red;
}
