@import "font-awesome-sprockets";
@import "font-awesome";
@import "foundation_and_overrides";

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #454545 !important;
}

.main-container {
	background: white;
	min-height:100%;
	position: relative;
	padding-bottom: 75px;
}

h1 {
	font-family: "proxima-nova",sans-serif;
	font-size: 36pt;
	text-transform: uppercase;
	font-weight: 100 !important;
	font-style: normal;
}

// header /////////////////////////////////////////////////////////////////////

header {
	width: 100%;
	a {
		color: black;
	}
	ul {
		list-style-type: none; 
		text-align: center;
		padding-top: 20px;
		font-family: "proxima-nova",sans-serif;
		font-weight: 100 !important;
		li {
			display: inline-block !important;
			padding: 0px 0.9rem;
			text-transform: uppercase;
			font-size: 20px;
		}
	}
	hr {
		border-color: #F1A81E !important;
		background-color: #F1A81E;
	}

}

.header-title {
	text-align: center;
	padding: 100px 0px 0px 0px;
	font-family: 'Klavika', Helvetica, sans-serif;
	font-size: 50px;
	height: 296px;
	color: white;
	background-image: image-url("SummerMovieGameBanner.png");
	@media screen and (min-width: 480px) {
	  font-size: 80px;
	}
}

h5 {
	line-height: 20px !important;
	margin-top: 10px !important;
}

// movie ///////////////////////////////////////////////////////////////////

.wtx-movie-list {
	li {
		padding: 0.5rem;
		background: $white;
	}
	li:nth-child(odd) {
		background: $light-gray;
	}
}

.wtx-movie-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.place {
	width: 100px;
	display: inline-block;
	color: $dark-gray;
	// border: 1px solid red;
}

.points {
	display: inline-block;
	float: right;
}

.movie-thumb {
	line-height: 10px;
	border: 1px solid red;
}

.movie-description-html a {
	color: black;
	pointer-events: none;
    cursor: default;
}

// footer //////////////////////////////////////////////////////////////////

.site-footer {
  color: #888888;
  position: absolute;
  bottom: 0;
	margin-top: 75px; /* negative value of footer height */
	height: 75px;
  width: 100%;
  font-size: 0.75rem;
  left: 0px;
  //border: 1px solid red;
}
