<footer class="site-footer">
  <hr/>
  <section class="row">
    <div class="medium-6 columns">
    	<p>&copy; <%= Time.now.year %> Wavetronix LLC.</p>
    </div>
    <div class="medium-6 columns end text-right show-for-medium">
      <p>
      	<%= link_to nil do %>
      		<%= icon('sign-in', 'Sign In', class: 'strong') %>
      	<% end %>
      </p>
    </div>
  </section>
</footer>
