<header>
	<div class="header-title">
		<p>Summer Movie Game</p>
	</div>
	<hr/>
	<ul>
	  <li><%= link_to "movies", root_path %></li>
	  <li><%= link_to "my list", root_path %></li>
	  <li><%= link_to "all lists", root_path %></li>
	  <li><%= link_to "sign in", root_path %></li>
	</ul>
	<hr/>
</header>