<footer class="site-footer">
  <hr/>
  <div class="medium-6 columns">
    <p>&copy; <%= Time.now.year %> Wavetronix LLC.</p>
  </div>
  <div class="medium-6 columns end text-right show-for-medium">
    <p>
      <% if current_user %>
        <%= current_user.name %>
      <% else %>
        <%= link_to root_path do %>
          <%= icon('sign-in', 'Sign In', class: 'strong') %>
        <% end %>
      <% end %>
    </p>
  </div>
</footer>
